<!-- <main class="container">
  <a routerLink="/add" class="ajouterBtn">
    <button mat-flat-button color="accent">
      Ajouter un assignment
    </button>
  </a>
  
  <h1>Liste des assignments</h1>
  <mat-divider></mat-divider>
  <nav>
    <button mat-raised-button color="primary" (click)="premierePage()">
      Première
    </button>
    <button mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="pagePrecedente()">
      Prev
    </button>
    <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="pageSuivante()">
      Suiv
    </button>
    <button mat-raised-button color="primary" (click)="dernierePage()">
      Dernière
    </button>
  </nav>
  <mat-tab-group>
    <mat-tab label="Non Rendu ({{assignmentsNonRendu.length}})"> 
      <mat-list *ngFor="let a of assignmentsNonRendu">
        <nav>
          <a routerLink="/assignment/{{a.id}}">
            <h3 mat-subheader>{{a.dateDeRendu | date}}</h3>
            <mat-list-item>
              <mat-divider></mat-divider>
    
              <p *ngIf="a.rendu; else nonsoumis" appRendu>
                {{a.nom}}, rendu par <b>{{a.auteur}}</b>
              </p>
              <ng-template #nonsoumis>
                <p appNonRendu>
                  {{a.nom}}, non encore rendu par <b>{{a.auteur}}</b>.
                </p>
              </ng-template>
    
            </mat-list-item>
          </a>
        </nav>
      </mat-list>
    </mat-tab>
    
    <mat-tab label="Rendu ({{assignmentsRendu.length}})"> 
      <mat-list *ngFor="let a of assignmentsRendu">
      <nav>
        <a routerLink="/assignment/{{a.id}}">
          <h3 mat-subheader>{{a.dateDeRendu | date}}</h3>
          <mat-list-item>
            <mat-divider></mat-divider>
  
            <p *ngIf="a.rendu; else nonsoumis" appRendu>
              {{a.nom}}, rendu par <b>{{a.auteur}}</b>
            </p>
            <ng-template #nonsoumis>
              <p appNonRendu>
                {{a.nom}}, non encore rendu par <b>{{a.auteur}}</b>.
              </p>
            </ng-template>
  
          </mat-list-item>
        </a>
      </nav>
    </mat-list> </mat-tab>
    
    
  </mat-tab-group>

  
</main> -->

<header id="header" class="header-fixee">
  <div class="container d-flex align-items-center">

    <h1 class="logo mr-auto"><a href="index.html">Assignment Management</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="index.html">Tous les assignments</a></li>
        <li><a href="#about">Rendu / Non Rendu </a></li>
        <li class="drop-down"><a href="">Profile</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="drop-down"><a href="#">Deep Drop Down</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <!--<li><a href="#contact">Contact</a></li>-->

      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->



<main id="main">

  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>

      </div>
  <br><br>
  <div class="row d-flex justify-content-end">
    <nav aria-label="Page navigation example">
      <ul class="pagination ">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">premier</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&lt;</span>
        <span class="sr-only">précèdant</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&gt;</span>
        <span class="sr-only">suivant</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">dernier</span>
        </a>
      </li>
      </ul>
    </nav>
  </div>
    </div>
  
  
  </section><!-- End Featured Services Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="fixed-bottom">
  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>BizLand</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->



